<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>User Dashboard</title>
    <style>
        /* Κεντράρει το περιεχόμενο του h2 */
        h2 {
            text-align: center;
            background-color: #f0f0f0; /* Χρώμα του φόντου */
            padding: 10px; /* Προσθέτει κενό γύρω από το περιεχόμενο του h2 */
        }
    </style>
</head>
<body>
<div class="container">

  <h2>Social_Bookstore</h2>
    <h4>Welcome:<span sec:authentication="name"></span></h4>
    <p>
    	<a th:href="@{/user/dashboard}" class="btn btn-light">Home</a>
        <a th:href="@{/submit_profile}" class="btn btn-light">Profile</a>
    	<a th:href="@{/logout}" class="btn btn-light">Logout</a>

    </p>
</div>


</body>
</html>