<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Create Profile</title>
</head>
<body>
<div class="container">
    <h2>Create Your Profile <span sec:authentication="name"></span></h2>
    <form th:action="@{/save_profile}" method="POST" >
        <input type="text" name="full_name" th:placeholder="full_name" /> <br /><br />
        <input type="text" th:placeholder="address" name="address" /> <br /><br />
        <input type="number" th:placeholder="age" name="age" /> <br /><br />
        <input type="text" th:placeholder="phone_number" name="phone_number" /> <br /><br />
        <input type="text" th:placeholder="book_categories" name="book_categories" /> <br /><br />
        <input type="text" th:placeholder="favorite_authors" name="favorite_authors" /> <br /><br />
        <button type="Submit" class="btn btn-info col-2"> Submit </button>
        <a th:href="@{/user/dashboard}" class="btn btn-light">Exit</a>
    </form>
</div>
</body>
</html>
