<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Create Profile</title>
</head>

<body>
<div class="container">

    <h2>Your Profile</h2>
    <h4>Full Name:</h4>
    <h4>Address:</h4>
    <h4>Age:</h4>
    <h4>Phone Number:</h4>
    <h4>Preferred Book Categories:</h4>
    <h4>Favorite Authors:</h4>
    <p>
        <a th:href="@{/profile}" class="btn btn-light">Edit Profile</a>
    </p>
</div>

</body>
</html>
