<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Create Profile</title>
</head>

<body>

<div class="container">
    <!-- Check if profile is null or empty -->
    <th:block th:if="${profile == null or #lists.isEmpty(profile)}">
        <h2>Your Profile</h2>
        <h4>Full Name: Null</h4>
        <h4>Address: Null</h4>
        <h4>Age: Null</h4>
        <h4>Phone Number: Null</h4>
        <h4>Preferred Book Categories: Null</h4>
        <p>
            <a th:href="@{/profile}" class="btn btn-light">Edit Profile</a>
            <a th:href="@{/user/dashboard}" class="btn btn-light">Home</a>
        </p>
    </th:block>
    <!-- If profile is not null or empty, iterate over it -->
    <th:block th:if="${profile != null and not #lists.isEmpty(profile)}">
        <h2>Your Profile</h2>
        <!-- Iterate over each tempEmployee in profile -->
        <tr th:each="tempEmployee : ${profile}">
            <h4>Full Name:<td th:text="${tempEmployee.full_name}"/></h4>
            <h4>Address:<td th:text="${tempEmployee.address}"/></h4>
            <h4>Age:<td th:text="${tempEmployee.age}"/></h4>
            <h4>Phone Number:<td th:text="${tempEmployee.phone_number}"/></h4>
            <h4>Preferred Book Categories:<td th:text="${tempEmployee.book_categories}"/></h4>
            <p>
                <a th:href="@{/profile}" class="btn btn-light">Edit Profile</a>
                <a th:href="@{/user/dashboard}" class="btn btn-light">Home</a>
            </p>
        </tr>
    </th:block>
</div>
</body>
</html>
